form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input, select {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}